<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini Project</title>
    <link rel="stylesheets" href="/stylesheets/index">
</head>
<body>
    <div>
        <h1> Hello brother mai hu ek mini project 
        </h1>
        <form action="">
            <input type="text" placeholder="name" name="name">
            <input type="text" placeholder="name" name="username">
            <input type="text" placeholder="name" name="password">
            <input type="text" placeholder="name" name="age">
            <input type="text" placeholder="name" name="email">
            <input type="submit" value="Create Account">
        </form>
    </div>
    <script src="/javascripts/index"></script>
</body>
</html>