<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/stylesheets/index.css">
</head>
<body>
    <h1>Create Account</h1>
    <a href="/login">Login</a>
    <a href="/profile">profile</a>
    <div class="crt-account">
        <form action="/register" method="post">
            <input class="inp-fields" type="text" placeholder="username" name="username">
            <br>
            <input class="inp-fields" type="password" placeholder="password" name="password">
            <br>
            <input class="inp-fields" type="number" placeholder="age" name="age">
            <br>
        
            <input class="inp-fields" type="text" placeholder="name" name="name">
            <br>
            <input class="inp-fields" type="email" placeholder="email" name="email">
            <br>
            <input class="submit-btn" type="submit" value="Create Account">
        </form>
    </div>
    <script src="/javascripts/index.js"></script>
</body>
</html>