<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/stylesheets/login.css">
</head>
<body>
    <h1>Login your Account</h1>
    <div class="crt-account">
        <form action="/login" method="post">
            <input class="inp-fields" type="password" placeholder="password" name="password">
            <br>
            <input class="inp-fields" type="email" placeholder="email" name="email">
            <br>
            <input class="submit-btn" type="submit" value="Login Account">
        </form>
    </div>
    <!-- <script src="/javascripts/index.js"></script> -->
</body>
</html>