body{
    background-color: black;
    color: white;
}
h1{
    color: red;
    text-align: center;
}
.submit-btn{
    background-color: rgb(230, 194, 87);
    padding: 10px;
    border-radius: 3px;
    width: 250px;
    font-size: large;
   
}
.crt-account{
    padding: 10px;
    /* border: 1px solid white; */
    display: flex;
    justify-content: center;
}
.inp-fields{
    width: 500px;
    margin: 2px;
    padding: 10px;
    background-color: transparent;
    outline:none;
    border-radius: 3px;
    color: white;
}
